<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <div class="btn-group" role="group">
        <button class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-play"></span>
        </button>
        
        <button class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-stop"></span>
        </button>
        
        <button class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
      </div>
      
    </div>
    
    <div class=" navbar-header navbar-right">
      <button class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
    </div>
    
  </div>
</nav>